---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Search } from "../blocks/inputs/Search.tsx";
import { Beats } from "../blocks/audio/Beats.tsx";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const playPreset = document.getElementById("play-preset");

    playPreset?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("play-preset"));
    });

    const api_url = "https://zenquotes.io/api/quotes/";

    async function getapi(url: any) {
      const response = await fetch(url);
      var data = await response.json();
      console.log(data);
    }

    getapi(api_url);
  });
</script>

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="backround-image"></div>
  <header>
    <div class="websites">
      <div>Blog: <a href="https://tihomir-selak.from.hr/">tihomir-selak.from.hr</a></div>
      <div>Web: <a href="https://kobilica.hr">kobilica.hr</a></div>
      <div>News: <a href="https://star.kobilica.hr">star.kobilica.hr</a></div>
      <div class="socials">
        <a href="mailto:tihomir.selak@outlook.com" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            ></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
        </a>
        <a href="https://github.com/Tihi321" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/selaktihomir" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            width="24"
            height="24"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1.609"
            viewBox="-4.6 -4.6 55.16 55.16"
            ><path
              d="M5.392.492C2.268.492 0 2.647 0 5.614c0 2.966 2.223 5.119 5.284 5.119 1.588 0 2.956-.515 3.957-1.489.96-.935 1.489-2.224 1.488-3.653C10.659 2.589 8.464.492 5.392.492zm2.455 7.319c-.62.603-1.507.922-2.563.922C3.351 8.733 2 7.451 2 5.614c0-1.867 1.363-3.122 3.392-3.122 1.983 0 3.293 1.235 3.338 3.123-.001.862-.314 1.641-.883 2.196zM.959 45.467h8.988V12.422H.959v33.045zm2-31.045h4.988v29.044H2.959V14.422zM33.648 12.422c-4.168 0-6.72 1.439-8.198 2.792l-.281-2.792H15v33.044h9.959V28.099c0-.748.303-2.301.493-2.711 1.203-2.591 2.826-2.591 5.284-2.591 2.831 0 5.223 2.655 5.223 5.797v16.874h10v-18.67c0-9.878-6.382-14.376-12.311-14.376zm10.311 31.045h-6V28.593c0-4.227-3.308-7.797-7.223-7.797-2.512 0-5.358 0-7.099 3.75-.359.775-.679 2.632-.679 3.553v15.368H17V14.422h6.36l.408 4.044h1.639l.293-.473c.667-1.074 2.776-3.572 7.948-3.572 4.966 0 10.311 3.872 10.311 12.374v16.672z"
            ></path></svg
          >
        </a>
        <a href="https://www.instagram.com/tihomirselak" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
          </svg>
        </a>
      </div>
    </div>
    <div class="weather">
      <iframe
        src="https://www.meteoblue.com/en/weather/widget/three/osijek_croatia_3193935?geoloc=fixed&nocurrent=0&noforecast=0&noforecast=1&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=dark"
        allowtransparency="true"
        sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
      ></iframe><div>
        <!-- DO NOT REMOVE THIS LINK -->
        <a
          href="https://www.meteoblue.com/en/weather/week/osijek_croatia_3193935?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget"
          target="_blank"
          rel="noopener">meteoblue</a
        >
      </div>
    </div>
  </header>
</Layout>
<main>
  <Search client:only />
  <div class="shortcuts">
    <a class="link" href="https://mail.google.com/">
      <img src="/images/icons/mail.png" />Gmail
    </a>
    <a class="link" href="https://outlook.live.com/mail/0/">
      <img src="/images/icons/outlook.png" />Outlook
    </a>
    <a class="link" href="https://calendar.google.com/">
      <img src="/images/icons/kalendar.png" />Kalendar
    </a>
    <a class="link" href="https://mail.google.com/chat/">
      <img src="/images/icons/chat.png" />Chat
    </a>
    <a class="link" href="https://drive.google.com/drive/my-drive">
      <img src="/images/icons/drive.png" />Drive
    </a>
    <a class="link" href="https://www.messenger.com/">
      <img src="/images/icons/messenger.png" />Messenger
    </a>
    <a class="link" href="https://www.instagram.com/">
      <img src="/images/icons/instagram.png" />Instagram
    </a>
    <a class="link" href="https://www.linkedin.com/">
      <img src="/images/icons/linkedin.png" />LinkedIn
    </a>
    <a class="link" href="https://www.youtube.com/">
      <img src="/images/icons/youtube.png" />Youtube
    </a>
    <a class="link" href="https://www.eurosport.co.uk/">
      <img src="/images/icons/eurosport.png" />Eurosport
    </a>
    <a class="link" href="https://www.humblebundle.com/">
      <img src="/images/icons/humble.png" />Humble Bundle
    </a>
    <a class="link" href="https://app.slack.com/client/T03TQ1AE0/C06HN30987Ml">
      <img src="/images/icons/slack.png" />Slack
    </a>
    <a class="link" href="https://app.letsrecast.ai/?ref=null">
      <img src="/images/icons/recast.png" />Recast
    </a>
    <a class="link" href="https://www.perplexity.ai/">
      <img src="/images/icons/perplexity.png" />Perplexity
    </a>
    <a class="link" href="https://copilot.microsoft.com/">
      <img src="/images/icons/copilot.png" />Copilot
    </a>
  </div>
</main>
<footer>
  <button class="play-preset" id="play-preset">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M9 10.222L9 19.778 16.481 15 9 10.222z"></path>
    </svg>
  </button>
  <div class="music">
    <Beats client:only src=`/audio/just-relax.mp3` name="Relax" />
    <Beats client:only src=`/audio/lofi-beats.mp3` name="Lofy" />
    <Beats client:only src=`/audio/forest.mp3` name="Forest" />
    <Beats client:only src=`/audio/rain.mp3` name="Rain" />
    <Beats client:only src=`/audio/waves.mp3` name="Waves" />
    <Beats client:only src=`/audio/campfire.mp3` name="Campfire" />
  </div>
  <style>
    .backround-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/images/sky.jpeg");
      background-size: cover;
      background-position: center;
      z-index: -1;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
          radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.5) 166%);
      }
    }
    header {
      width: 100%;
      height: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
    }

    .weather {
      position: relative;
      top: 0px;
      right: -95px;
      width: 470px;
      height: 140px;
      transform: scale(0.6);
      overflow: hidden;

      iframe {
        width: 100%;
        height: 220px;
        border: none;
      }

      a {
        display: none;
      }
    }

    .websites {
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-size: 12px;
    }

    .socials {
      display: flex;
      gap: 8px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    main {
      flex: 1;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 32px;
    }

    .shortcuts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      height: fit-content;
      gap: 4px;

      .link {
        border: 1px solid var(--light);
        background: var(--dark);
        padding: 8px;
        border-radius: 4px;
        cursor: pointer;
        min-width: 60px;
        height: 60px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        line-height: 1;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 8px;

      .music {
        display: flex;
        gap: 8px;
      }

      .play-preset {
        width: 60px;
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  </style>
</footer>
