---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import Shortcuts from "../layouts/Shortcuts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Search } from "../blocks/inputs/Search.tsx";
import { NewsFeed } from "../blocks/news/NewsFeed.tsx";
import { CustomShortcuts } from "../blocks/shortcuts/CustomShortcuts.tsx";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const imageUrl = localStorage.getItem("bg-image-url") || "/images/nature-bg.jpeg";
    const menuContainer = document.querySelector(".backround-image");
    menuContainer?.setAttribute("style", `background-image: url(${imageUrl})`);
  });
</script>

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="backround-image" id="backround-image"></div>
  <Header />
  <main>
    <Search client:only />
    <Shortcuts />
    <CustomShortcuts client:only />
    <NewsFeed client:only />
  </main>
  <Footer />
</Layout>

<style>
  .backround-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%),
        radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.5) 166%);
    }
  }

  main {
    flex: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
  }
</style>
