---
import { Beats } from "../blocks/audio/Beats.tsx";
import { SearchEngines } from "../blocks/inputs/SearchEngines.tsx";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const closeMenu = document.getElementById("close-menu");
    const changeBackground = document.getElementById("change-background");
    const clearBackground = document.getElementById("clear-background");
    const saveBackground = document.getElementById("save-background");
    const exportBackground = document.getElementById("export-background");
    const savePReset = document.getElementById("save-preset");
    const loadPReset = document.getElementById("load-preset");
    const stopPreset = document.getElementById("stop-preset");
    const clearPreset = document.getElementById("clear-preset");

    savePReset?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("preset:save"));
    });

    loadPReset?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("preset:load"));
    });

    stopPreset?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("preset:stop"));
    });

    clearPreset?.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("preset:clear"));
    });

    document.addEventListener("keydown", function (event) {
      if (event.key === "Escape") {
        const menuContainer = document.querySelector(".menu-container");
        menuContainer?.classList.remove("show");
        document.body.classList.remove("overflow");
      }
    });

    closeMenu?.addEventListener("click", () => {
      const menuContainer = document.querySelector(".menu-container");
      menuContainer?.classList.remove("show");
      document.body.classList.remove("overflow");
    });

    changeBackground?.addEventListener("click", () => {
      fetch("https://source.unsplash.com/random/?nature").then((response) => {
        localStorage.setItem("bg-image-url", response.url);
        const menuContainer = document.querySelector(".backround-image");
        menuContainer?.setAttribute("style", `background-image: url(${response.url})`);
      });
    });

    clearBackground?.addEventListener("click", () => {
      localStorage.setItem("bg-image-url", "");
      const menuContainer = document.querySelector(".backround-image");
      menuContainer?.setAttribute("style", "background-image: url(/images/nature-bg.jpeg)");
    });

    saveBackground?.addEventListener("click", () => {
      navigator.clipboard.readText().then((text) => {
        localStorage.setItem("bg-image-url", text);
      });
    });

    exportBackground?.addEventListener("click", () => {
      const imageUrl = localStorage.getItem("bg-image-url") || "";
      navigator.clipboard.writeText(imageUrl);
    });
  });
</script>

<div class="menu-container">
  <div class="content">
    <button class="close-menu" id="close-menu">X</button>
    <div class="title">Search Egnines</div>
    <SearchEngines client:only />
    <div class="title">Background</div>
    <div class="options">
      <button id="change-background">Change BG</button>
      <button id="clear-background">Clear BG</button>
      <button id="save-background">Save BG</button>
      <button id="export-background">Export BG</button>
    </div>
    <div class="title">Music</div>
    <div class="music">
      <Beats client:only src=`/audio/just-relax.mp3` name="Relax" />
      <Beats client:only src=`/audio/lofi-beats.mp3` name="Lofy" />
      <Beats client:only src=`/audio/forest.mp3` name="Forest" />
      <Beats client:only src=`/audio/rain.mp3` name="Rain" />
      <Beats client:only src=`/audio/waves.mp3` name="Waves" />
      <Beats client:only src=`/audio/campfire.mp3` name="Campfire" />
    </div>
    <div class="options">
      <button id="save-preset">Save</button>
      <button id="clear-preset">Clear</button>
      <button id="load-preset">Load</button>
      <button id="stop-preset">Stop</button>
    </div>
  </div>
</div>

<style>
  .menu-container {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backdrop);
    z-index: 1;

    &.show {
      display: flex;
    }
  }

  .content {
    width: 320px;
  }

  .title {
    text-align: center;
    position: relative;
    margin: 8px 0;
    font-size: 18px;
    color: var(--light);
    font-weight: bold;
  }

  .close-menu {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 60px;
    height: 60px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--light);
    font-weight: bold;
  }

  .music {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    margin: 16px 0;

    button {
      display: block;
      background: var(--primary);
      color: var(--light);
      cursor: pointer;
      font-size: 12px;
      background: var(--dark);
      border-radius: 8px;
      padding: 8px;
      border: none;
    }
  }
</style>
