<div class="shortcuts">
  <a class="link" href="https://mail.google.com/">
    <img src="/images/icons/mail.png" />Gmail
  </a>
  <a class="link" href="https://outlook.live.com/mail/0/">
    <img src="/images/icons/outlook.png" />Outlook
  </a>
  <a class="link" href="https://calendar.google.com/">
    <img src="/images/icons/kalendar.png" />Kalendar
  </a>
  <a class="link" href="https://mail.google.com/chat/">
    <img src="/images/icons/chat.png" />Chat
  </a>
  <a class="link" href="https://drive.google.com/drive/my-drive">
    <img src="/images/icons/drive.png" />Drive
  </a>
  <a class="link" href="https://www.messenger.com/">
    <img src="/images/icons/messenger.png" />Messenger
  </a>
  <a class="link" href="https://www.instagram.com/">
    <img src="/images/icons/instagram.png" />Instagram
  </a>
  <a class="link" href="https://www.linkedin.com/">
    <img src="/images/icons/linkedin.png" />LinkedIn
  </a>
  <a class="link" href="https://app.slack.com/client/T03TQ1AE0/C06HN30987Ml">
    <img src="/images/icons/slack.png" />Slack
  </a>
  <a class="link" href="https://github.com/">
    <img src="/images/icons/github.png" />Github
  </a>
  <a class="link" href="https://www.youtube.com/">
    <img src="/images/icons/youtube.png" />Youtube
  </a>
  <a class="link" href="https://www.skillshare.com/en/home">
    <img src="/images/icons/skillshare.webp" />Skillshare
  </a>
  <a class="link" href="https://www.gamedev.tv/">
    <img src="/images/icons/gamedev.png" />Gamedev
  </a>
  <a class="link" href="https://academy.zenva.com/">
    <img src="/images/icons/zenva.webp" />Zenva
  </a>
  <a class="link" href="https://www.udemy.com/">
    <img src="/images/icons/udemy.png" />Udemy
  </a>
  <a class="link" href="https://soundcloud.com/discover">
    <img src="/images/icons/soundcloud.png" />SoundCloud
  </a>
  <a class="link" href="https://open.spotify.com/">
    <img src="/images/icons/spotify.png" />Spotify
  </a>
  <a class="link" href="https://copilot.microsoft.com/">
    <img src="/images/icons/copilot.png" />Copilot
  </a>
  <a class="link" href="https://www.perplexity.ai/">
    <img src="/images/icons/perplexity.png" />Perplexity
  </a>
  <a class="link" href="https://www.eurosport.co.uk/">
    <img src="/images/icons/eurosport.png" />Eurosport
  </a>
</div>

<style>
  .shortcuts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    gap: 4px;

    .link {
      border: 1px solid var(--light);
      background: var(--dark);
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      width: 70px;
      height: 60px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      line-height: 1;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
</style>
