<div class="shortcuts">
  <a class="link" href="https://mail.google.com/">
    <img src="/images/icons/mail.png" />Gmail
  </a>
  <a class="link" href="https://outlook.live.com/mail/0/">
    <img src="/images/icons/outlook.png" />Outlook
  </a>
  <a class="link" href="https://calendar.google.com/">
    <img src="/images/icons/kalendar.png" />Kalendar
  </a>
  <a class="link" href="https://drive.google.com/drive/my-drive">
    <img src="/images/icons/drive.png" />Drive
  </a>
  <a class="link" href="https://www.messenger.com/">
    <img src="/images/icons/messenger.png" />Messenger
  </a>
  <a class="link" href="https://www.instagram.com/">
    <img src="/images/icons/instagram.png" />Instagram
  </a>
  <a class="link" href="https://www.linkedin.com/">
    <img src="/images/icons/linkedin.png" />LinkedIn
  </a>
  <a class="link" href="https://app.slack.com/client/T03TQ1AE0/C06HN30987Ml">
    <img src="/images/icons/slack.png" />Slack
  </a>
  <a class="link" href="https://github.com/">
    <img src="/images/icons/github.png" />Github
  </a>
  <a class="link" href="https://app.netlify.com/">
    <img src="/images/icons/netlify.png" />Netlify
  </a>
  <a class="link" href="https://webtools.tihomir-selak.from.hr/">
    <img src="/images/icons/webtools.png" />Webtools
  </a>
  <a class="link" href="https://aitools.tihomir-selak.from.hr/">
    <img src="/images/icons/aitools.png" />AITools
  </a>
  <a class="link" href="https://games.tihomir-selak.from.hr/">
    <img src="/images/icons/puzzles.png" />Games
  </a>
  <a class="link" href="https://design.penpot.app/">
    <img src="/images/icons/penpot.png" />Penpot
  </a>
  <a class="link" href="https://trello.com/">
    <img src="/images/icons/trello.png" />Trello
  </a>
  <a class="link" href="https://stackblitz.com/">
    <img src="/images/icons/stackblitz.png" />StackBlitz
  </a>
  <a class="link" href="https://replit.com/">
    <img src="/images/icons/replit.png" />Replit
  </a>
  <a class="link" href="https://colab.research.google.com/">
    <img src="/images/icons/colab.png" />Colab
  </a>
  <a class="link" href="https://arxiv.org/">
    <img src="/images/icons/arix.png" />Arix
  </a>
  <a class="link" href="https://consensus.app/search/">
    <img src="/images/icons/concensus.png" />Concensus
  </a>
  <a class="link" href="https://www.youtube.com/">
    <img src="/images/icons/youtube.png" />Youtube
  </a>
  <a class="link" href="https://www.skillshare.com/en/home">
    <img src="/images/icons/skillshare.webp" />Skillshare
  </a>
  <a class="link" href="https://www.udemy.com/">
    <img src="/images/icons/udemy.png" />Udemy
  </a>
  <a class="link" href="https://www.gamedev.tv/dashboard">
    <img src="/images/icons/gamedev.png" />Gamedev
  </a>
  <a class="link" href="https://www.coursera.org">
    <img src="/images/icons/coursera.png" />Coursera
  </a>
  <a class="link" href="https://www.sitepoint.com/">
    <img src="/images/icons/sitepoint.png" />Sitepoint
  </a>
  <a class="link" href="https://soundcloud.com/discover">
    <img src="/images/icons/soundcloud.png" />SoundCloud
  </a>
  <a class="link" href="https://open.spotify.com/">
    <img src="/images/icons/spotify.png" />Spotify
  </a>
  <a class="link" href="https://www.udio.com/">
    <img src="/images/icons/udio.png" />Udio
  </a>
  <a class="link" href="https://suno.com/">
    <img src="/images/icons/suno.png" />Suno
  </a>
  <a class="link" href="https://chatgpt.com/">
    <img src="/images/icons/chatgpt.png" />ChatGPT
  </a>
  <a class="link" href="https://claude.ai/">
    <img src="/images/icons/claude-ai.png" />Claude
  </a>
  <a class="link" href="https://gemini.google.com/app">
    <img src="/images/icons/gemini.png" />Gemini
  </a>
  <a class="link" href="https://copilot.microsoft.com/">
    <img src="/images/icons/copilot.png" />Copilot
  </a>
  <a class="link" href="https://pi.ai/">
    <img src="/images/icons/pi_ai.png" />Pi Ai
  </a>
  <a class="link" href="https://huggingface.co/chat/">
    <img src="/images/icons/hugging.png" />H Chat
  </a>
  <a class="link" href="https://chat.mistral.ai/chat">
    <img src="/images/icons/mistral.png" />Le Chat
  </a>
  <a class="link" href="https://www.perplexity.ai/">
    <img src="/images/icons/perplexity.png" />Perplexity
  </a>
  <a class="link" href="https://talkpal.ai/">
    <img src="/images/icons/talkpal.png" />Talkpal
  </a>
  <a class="link" href="https://character.ai/">
    <img src="/images/icons/characterai.png" />CharacterAI
  </a>
  <a class="link" href="https://leonardo.ai/">
    <img src="/images/icons/leonardo.png" />Leonardo
  </a>
  <a class="link" href="https://ideogram.ai/">
    <img src="/images/icons/ideogram.png" />Ideogram
  </a>
  <a class="link" href="https://copilot.microsoft.com/images/create">
    <img src="/images/icons/create.png" />Creator
  </a>
  <a class="link" href="https://clipdrop.co/">
    <img src="/images/icons/clip.png" />Clipdrop
  </a>
  <a class="link" href="https://www.genmo.ai/">
    <img src="/images/icons/genmo.png" />Genmo
  </a>
  <a class="link" href="https://app.pixverse.ai/">
    <img src="/images/icons/pixverse.png" />Pixverse
  </a>
  <a class="link" href="https://lumalabs.ai/">
    <img src="/images/icons/luma.svg" />Luma
  </a>
  <a class="link" href="https://klingai.com/">
    <img src="/images/icons/kling.png" />Kling
  </a>
  <a class="link" href="https://websim.ai/">
    <img src="/images/icons/websim.png" />Websim
  </a>
  <a class="link" href="https://www.eurosport.co.uk/">
    <img src="/images/icons/eurosport.png" />Eurosport
  </a>
</div>

<style>
  .shortcuts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    gap: 4px;

    .link {
      border: 1px solid var(--light);
      background: var(--dark);
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      width: 70px;
      height: 60px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
      line-height: 1;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
</style>
