---
import { MusicPlayer } from "../blocks/audio/MusicPlayer";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleSidebar = document.getElementById("toggle-sidebar");

    document.addEventListener("keydown", function (event) {
      if (event.ctrlKey && event.code === "Period") {
        const sidebarElement = document.querySelector("#sidebar");
        if (sidebarElement?.classList.contains("hide")) {
          sidebarElement?.classList.remove("hide");
        } else {
          sidebarElement?.classList.add("hide");
        }
      }

      if (event.ctrlKey && event.altKey && event.code === "Numpad5") {
        document.dispatchEvent(new CustomEvent("preset:toggle"));
      }

      if (event.ctrlKey && event.altKey && event.code === "Numpad4") {
        document.dispatchEvent(new CustomEvent("preset:stop"));
      }

      if (event.ctrlKey && event.altKey && event.code === "Numpad1") {
        document.dispatchEvent(new CustomEvent("playlist:prev"));
      }

      if (event.ctrlKey && event.altKey && event.code === "Numpad2") {
        document.dispatchEvent(new CustomEvent("playlist:stop"));
      }

      if (event.ctrlKey && event.altKey && event.code === "Numpad3") {
        document.dispatchEvent(new CustomEvent("playlist:next"));
      }
    });

    toggleSidebar?.addEventListener("click", () => {
      const sidebarElement = document.querySelector("#sidebar");
      if (sidebarElement?.classList.contains("hide")) {
        sidebarElement?.classList.remove("hide");
      } else {
        sidebarElement?.classList.add("hide");
      }
    });
  });
</script>

<aside id="sidebar" class="music-sidebar">
  <MusicPlayer client:only />
  <button class="toggle-sidebar" id="toggle-sidebar"></button>
</aside>

<style>
  .toggle-sidebar {
    position: absolute;
    top: 0;
    right: -6px;
    opacity: 0.3;
    background: none;
    border: none;
    cursor: pointer;
    background-color: var(--text);
    height: 100%;
    width: 4px;
    padding: 0;
    margin: 0;
  }
</style>
